In [1]:
# L_level_change
import pandas as pd
import numpy as np

# Define a function to keep the original format as a string
def keep_original_format(x):
    return str(x)
# Load the Excel file and use the converter for the "Duration (min:sec)" column
file_path = 'student8/data_formatted_s8.xlsx'
df = pd.read_excel(file_path, converters={'outcome': keep_original_format})

In [2]:
# Set option to display all columns
pd.set_option('display.max_columns', None)

## check null
* student 4: there are 8 null values in Outcome

In [3]:
df.isnull().sum()

start_time                       20478
end_time                         20478
Duration (min:sec)               20478
Score                            20478
At LC                            26319
Points                           20478
grade                            20478
session                              0
skill                                0
skill_level_change                   0
L_num_completed_demo                 0
L_num_correct_assisted               0
outcome                             35
L_num_qs_first_correct               0
L_num_wrong_start_correct_end        0
L_total_qs                           0
first_answer_time                11897
skill_specified_time             11897
level_begin                          0
level_end                            0
dtype: int64

In [4]:
# Fill null values in 'Outcome' based on the condition
df['outcome'] = df.apply(
    lambda row: '0' if pd.isnull(row['outcome']) and row['level_begin'] >= row['level_end'] else (
        '1' if pd.isnull(row['outcome']) else row['outcome']
    ), axis=1
)

In [5]:
df.isnull().sum()

start_time                       20478
end_time                         20478
Duration (min:sec)               20478
Score                            20478
At LC                            26319
Points                           20478
grade                            20478
session                              0
skill                                0
skill_level_change                   0
L_num_completed_demo                 0
L_num_correct_assisted               0
outcome                              0
L_num_qs_first_correct               0
L_num_wrong_start_correct_end        0
L_total_qs                           0
first_answer_time                11897
skill_specified_time             11897
level_begin                          0
level_end                            0
dtype: int64

In [6]:
df.head()

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,outcome,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_answer_time,skill_specified_time,level_begin,level_end
0,2020-08-09 14:09:53,2020-08-09 14:11:24,01:31,67.71(0.80),NaN,--,4.0,PROFICIENCY,G4 1.1,23.0,0,0,1,0,0,0,11.0,30.0,2.0,3.0
1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,PROFICIENCY,G4 1.2,23.0,0,0,1,0,0,0,30.0,60.0,2.0,3.0
2,NaT,NaT,NaN,NaN,NaN,NaN,NaN,PROFICIENCY,G4 1.3,23.0,0,0,1,0,0,0,6.0,30.0,2.0,3.0
3,NaT,NaT,NaN,NaN,NaN,NaN,NaN,PROFICIENCY,G4 1.4,23.0,0,0,1,0,0,0,16.0,30.0,2.0,3.0
4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,PROFICIENCY,G4 1.5,23.0,0,0,1,0,0,0,13.0,30.0,2.0,3.0

## Learning sessions

In [7]:
df[df['session']=='LEARNING'].head()

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,outcome,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_answer_time,skill_specified_time,level_begin,level_end
24,2020-08-09 14:36:51,2020-08-09 14:44:39,07:48,68.14(0.78),NaN,--,4.0,LEARNING,G4 2.6,1.0,0,0,0,0,1,1,NaN,NaN,0.0,1.0
25,NaT,NaT,NaN,NaN,NaN,NaN,NaN,LEARNING,G4 2.6,1.0,0,0,00,0,1,1,NaN,NaN,0.0,1.0
26,NaT,NaT,NaN,NaN,NaN,NaN,NaN,LEARNING,G4 2.6,1.0,0,0,001,0,1,1,NaN,NaN,0.0,1.0
27,NaT,NaT,NaN,NaN,NaN,NaN,NaN,LEARNING,G4 2.6,1.0,0,0,1,1,1,2,NaN,NaN,0.0,1.0
28,NaT,NaT,NaN,NaN,NaN,NaN,NaN,LEARNING,G4 2.6,1.0,0,0,1,2,1,3,NaN,NaN,0.0,1.0

* L_num_completed_demo
* L_num_correct_assisted
* L_total_qs
* L_num_qs_first_correct
* L_num_wrong_start_correct_end
* (above when preprocessing)

In [8]:
# import re

# # Function to calculate maximum consecutive zeros in a string
# def max_consecutive_zeros(s):
#     # Find all groups of one or more consecutive '0's in the string
#     zero_streaks = re.findall(r'0+', s)
#     # Return the length of the longest streak, or 0 if there are none
#     return max((len(streak) for streak in zero_streaks), default=0)

# # Add new column only for LEARNING sessions, otherwise assign None (or 0 if preferred)
# df['L_max_wrong_streak'] = df.apply(
#     lambda row: max_consecutive_zeros(row['outcome']) if row['session'] == 'LEARNING' else None, 
#     axis=1
# )

## Common features

* is_quit_wrong
* is_quit_correct

In [9]:
import pandas as pd

# Convert 'start_time' and 'end_time' to datetime
df['start_time'] = pd.to_datetime(df['start_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce') 
df['end_time'] = pd.to_datetime(df['end_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

#errors='coerce': Invalid parsing will be set as NaT (Not a Time), which is pandas' equivalent of NaN for datetime objects.
#errors='raise': Raises an error if parsing fails.
#errors='ignore': Returns the original input if parsing fails.

# Create a boolean series where 'start_time' is not null
start_time_not_null = df['start_time'].notnull()

# Use the cumsum of this boolean series to create groups
groups = start_time_not_null.cumsum()

# Create a 'Group' column based on the cumulative count of non-null 'start_time'
df['group'] = groups

In [10]:
df['group']

0           1
1           1
2           1
3           1
4           1
         ...
26314    5840
26315    5840
26316    5840
26317    5840
26318    5841
Name: group, Length: 26319, dtype: int64

### delete cross day duration=00:00

In [11]:
# Step 1: Identify groups where the first row has 'Duration (min:sec)' == '00:00'
# Group by 'Group' and get the first 'Duration (min:sec)' in each group
first_durations = df.groupby('group')['Duration (min:sec)'].first()

# Identify group numbers where the first duration is '00:00'
groups_to_delete = first_durations[first_durations == '00:00'].index.tolist()

# Step 2: Find all rows that belong to these groups
rows_to_delete = df[df['group'].isin(groups_to_delete)].copy()

# Count the number of rows to be deleted
num_deleted_rows = len(rows_to_delete)

# Step 3: Delete the rows from the original DataFrame
df = df[~df['group'].isin(groups_to_delete)].copy()

# Optional: Reset index if needed
df.reset_index(drop=True, inplace=True)

# Step 4: Print the number of deleted rows and display them
print(f"\nNumber of rows deleted: {num_deleted_rows}")

if num_deleted_rows > 0:
    print("\nDeleted Rows:")
    print(rows_to_delete)
else:
    print("\nNo rows were deleted.")

Number of rows deleted: 12

Deleted Rows:
               start_time            end_time Duration (min:sec)        Score  \
14064 2022-05-18 16:06:03 2022-05-19 15:21:33              00:00  79.14(0.00)
14065                 NaT                 NaT                NaN          NaN
14066                 NaT                 NaT                NaN          NaN
14067                 NaT                 NaT                NaN          NaN
14068                 NaT                 NaT                NaN          NaN
17885 2022-11-12 17:55:13 2022-11-13 09:58:42              00:00  25.11(0.20)
17886                 NaT                 NaT                NaN          NaN
17887                 NaT                 NaT                NaN          NaN
17888                 NaT                 NaT                NaN          NaN
17889                 NaT                 NaT                NaN          NaN
17890                 NaT                 NaT                NaN          NaN
17891                 NaT                 NaT                NaN          NaN

       At LC Points  grade   session    skill  skill_level_change  \
14064    NaN  101.2    7.0  LEARNING  G7 8.10                11.0
14065    NaN    NaN    NaN  LEARNING  G7 8.10                11.0
14066    NaN    NaN    NaN  LEARNING  G7 8.10                11.0
14067    NaN    NaN    NaN  LEARNING  G7 8.10                11.0
14068    NaN    NaN    NaN  LEARNING  G7 8.10                11.0
17885    NaN   75.2    9.0  LEARNING  G9 7.23                 1.0
17886    NaN    NaN    NaN  LEARNING  G9 7.23                 1.0
17887    NaN    NaN    NaN  LEARNING  G9 7.23                 1.0
17888    NaN    NaN    NaN  LEARNING  G9 7.23                 1.0
17889    NaN    NaN    NaN  LEARNING  G9 7.23                 1.0
17890    NaN    NaN    NaN  LEARNING  G9 7.23                 1.0
17891    NaN    NaN    NaN  LEARNING  G9 7.23                 1.0

       L_num_completed_demo  L_num_correct_assisted outcome  \
14064                     2                       0       1
14065                     2                       0       1
14066                     2                       0       1
14067                     2                       0       1
14068                     2                       0       1
17885                     1                       0       1
17886                     1                       0       1
17887                     1                       0       0
17888                     1                       0      01
17889                     1                       0       1
17890                     1                       0       1
17891                     1                       0       1

       L_num_qs_first_correct  L_num_wrong_start_correct_end  L_total_qs  \
14064                       1                              0           1
14065                       2                              0           2
14066                       3                              0           3
14067                       4                              0           4
14068                       5                              0           5
17885                       1                              0           1
17886                       2                              0           2
17887                       2                              1           3
17888                       2                              1           3
17889                       3                              1           4
17890                       4                              1           5
17891                       5                              1           6

       first_answer_time  skill_specified_time  level_begin  level_end  group
14064                NaN                   NaN          1.0        1.0   3273
14065                NaN                   NaN          1.0        1.0   3273
14066                NaN                   NaN          1.0        1.0   3273
14067                NaN                   NaN          1.0        1.0   3273
14068                NaN                   NaN          1.0        1.0   3273
17885                NaN                   NaN          0.0        1.0   4158
17886                NaN                   NaN          0.0        1.0   4158
17887                NaN                   NaN          0.0        1.0   4158
17888                NaN                   NaN          0.0        1.0   4158
17889                NaN                   NaN          0.0        1.0   4158
17890                NaN                   NaN          0.0        1.0   4158
17891                NaN                   NaN          0.0        1.0   4158

* skill_id
* chapter
* In preprocessing: level_begin, level_end, grade

In [12]:
pattern = r'G(\d+)\s+([\d\.]+)'
df[['Grade', 'skill_part']] = df['skill'].str.extract(pattern)

# Optionally, convert chapter to numeric if needed
df['grade'] = pd.to_numeric(df['grade'])
df['grade'] = df['grade'].ffill()

# extract a number that appears after a dot (.)
df['skill_seq'] = df['skill'].str.extract(r'\.(\d+)', expand=False)

# Convert extracted strings to integers if needed
df['skill_seq'] = df['skill_seq'].astype(int)

# Drop the temporary column
df.drop('skill_part', axis=1, inplace=True)

# Define a custom key function to extract the three numbers
def custom_key(skill):
    group_str, num_str = skill.split()
    group_num = int(group_str[1:])          # extract number after 'G'
    before, after = num_str.split('.')
    return (group_num, int(before), int(after))

# Sort unique skills according to the custom key
unique_skills = sorted(df['skill'].unique(), key=custom_key)
# sorts them by group number, then integer part, then decimal part.

# Create a mapping from skill to an integer id (the smaller the value, the smaller the id)
skill_to_id = {skill: i for i, skill in enumerate(unique_skills)}

# Map the ids to the original DataFrame
df['skill_id'] = df['skill'].map(skill_to_id)

In [13]:
# Step 1: Extract 'skill_chapter' from 'skill'
df['skill_chapter'] = df['skill'].apply(lambda x: x.split('.')[0])

# Step 2: Extract numeric parts for sorting
# Extract the grade (number after 'G')
df['Grade'] = df['skill_chapter'].str.extract(r'G(\d+)').astype(int)
# Extract the chapter major number (the number before the dot)
df['chapter'] = df['skill'].str.extract(r'\s+(\d+)\.').astype(int)

# Step 3: Create a mapping for skill_chapter_id
# Get unique skill_chapter values along with grade and chapter
unique_chapters = df[['skill_chapter', 'Grade', 'chapter']].drop_duplicates()

# Sort by grade first and then by chapter
unique_chapters = unique_chapters.sort_values(by=['Grade', 'chapter']).reset_index(drop=True)

# Create mapping: assign an id starting from 1 for the sorted skill_chapters
mapping = {row['skill_chapter']: idx + 1 for idx, row in unique_chapters.iterrows()}

# Step 4: Map the ids back to the original DataFrame
df['skill_chapter_id'] = df['skill_chapter'].map(mapping)

# Optional: Drop the temporary columns if they're no longer needed
df = df.drop(columns=['Grade'])

In [14]:
# # Create a new column "L_skill_times"
# # Only count for rows where session is 'LEARNING'
# mask = df['session'] == 'LEARNING'

# # Use groupby on the skill column for LEARNING rows and get cumulative count + 1
# df.loc[mask, 'L_skill_times'] = df[mask].groupby('skill').cumcount() + 1

In [15]:
df['level_begin'] = df['level_begin'].astype(int)
df['level_end']   = df['level_end'].astype(int)

* is_quit_wrong
* is_quit_correct

In [16]:
# -------------------------------------------------------------------
# 2) Helper function
# -------------------------------------------------------------------
def determine_quit_flags(group_df):
    """
    For each group:
      - If the group has < 6 rows, the *last row* may be flagged:
          is_quit_wrong=1   if outcome ends with '0'
          is_quit_correct=1 if outcome ends with '1'
      - Groups with >=6 rows => all rows stay 0 by default.
    """
    # Create a DataFrame with same index, initialized to 0
    result = pd.DataFrame({
        'is_quit_correct': 0,
        'is_quit_wrong':   0
    }, index=group_df.index)
    
    if len(group_df) < 6:
        last_idx = group_df.index[-1]  # index of the last row
        last_outcome = str(group_df.loc[last_idx, 'outcome'])
        
        if last_outcome.endswith('0'):
            result.loc[last_idx, 'is_quit_wrong'] = 1
        elif last_outcome.endswith('1'):
            result.loc[last_idx, 'is_quit_correct'] = 1

    return result

# -------------------------------------------------------------------
# 3) Initialize new columns
# -------------------------------------------------------------------
df['is_quit_correct'] = 0
df['is_quit_wrong']   = 0

# -------------------------------------------------------------------
# 5) LEARNING => row-based logic:
#    level_begin == 0 and level_end == 0
# -------------------------------------------------------------------
mask_learning = df['session'].str.contains('LEARNING', na=False)
mask_zero_lv  = (df['level_begin'] == 0) & (df['level_end'] == 0)

is_last = df.groupby('group').cumcount(ascending=False) == 0

mask = mask_learning & mask_zero_lv & is_last

# For LEARNING, if level_begin=0 & level_end=0 & outcome ends with '0' => is_quit_wrong=1
df.loc[
    mask & df['outcome'].astype(str).str.endswith('0'),
    'is_quit_wrong'
] = 1

# For LEARNING, if level_begin=0 & level_end=0 & outcome ends with '1' => is_quit_correct=1
df.loc[
    mask & df['outcome'].astype(str).str.endswith('1'),
    'is_quit_correct'
] = 1


# -------------------------------------------------------------------
# 5) Identify target groups & filter
# -------------------------------------------------------------------
target_groups = df.loc[df['session'].str.contains('PROFICIENCY|AFFICIENCY', na=False), 'group'].unique()
filtered_df = df[df['group'].isin(target_groups)].copy()

# -------------------------------------------------------------------
# 6) Group by 'group' and apply the function
# -------------------------------------------------------------------
# Remove "include_groups=False" and do a manual drop of the grouping column
quit_flags = (
    filtered_df
    .groupby('group', group_keys=False)[['session', 'outcome']]
    .apply(determine_quit_flags)
)

# -------------------------------------------------------------------
# 7) Update df
# -------------------------------------------------------------------
df.update(quit_flags)

## how about level 2 to level 2 in learning sessions?

In [17]:
df.head(50)

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,outcome,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_answer_time,skill_specified_time,level_begin,level_end,group,skill_seq,skill_id,skill_chapter,chapter,skill_chapter_id,is_quit_correct,is_quit_wrong
0,2020-08-09 14:09:53,2020-08-09 14:11:24,01:31,67.71(0.80),NaN,--,4.0,PROFICIENCY,G4 1.1,23.0,0,0,1,0,0,0,11.0,30.0,2,3,1,1,0,G4 1,1,1,0,0
1,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.2,23.0,0,0,1,0,0,0,30.0,60.0,2,3,1,2,1,G4 1,1,1,0,0
2,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.3,23.0,0,0,1,0,0,0,6.0,30.0,2,3,1,3,2,G4 1,1,1,0,0
3,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.4,23.0,0,0,1,0,0,0,16.0,30.0,2,3,1,4,3,G4 1,1,1,0,0
4,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.5,23.0,0,0,1,0,0,0,13.0,30.0,2,3,1,5,4,G4 1,1,1,0,0
5,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.6,23.0,0,0,1,0,0,0,8.0,30.0,2,3,1,6,5,G4 1,1,1,0,0
6,2020-08-09 14:11:36,2020-08-09 14:13:26,01:50,68.03(0.32),NaN,--,4.0,PROFICIENCY,G4 1.7,23.0,0,0,1,0,0,0,6.0,30.0,2,3,2,7,6,G4 1,1,1,0,0
7,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.8,23.0,0,0,1,0,0,0,14.0,45.0,2,3,2,8,7,G4 1,1,1,0,0
8,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.9,23.0,0,0,1,0,0,0,21.0,60.0,2,3,2,9,8,G4 1,1,1,0,0
9,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.1,23.0,0,0,1,0,0,0,16.0,45.0,2,3,2,1,9,G4 2,2,2,0,0
10,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.2,23.0,0,0,1,0,0,0,25.0,60.0,2,3,2,2,10,G4 2,2,2,0,0
11,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.3,23.0,0,0,1,0,0,0,21.0,60.0,2,3,2,3,11,G4 2,2,2,0,0
12,2020-08-09 14:13:37,2020-08-09 14:29:22,15:45,67.85(-0.19),NaN,--,4.0,PROFICIENCY,G4 2.4,23.0,0,0,1,0,0,0,62.0,75.0,2,3,3,4,12,G4 2,2,2,0,0
13,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.5,23.0,0,0,1,0,0,0,25.0,75.0,2,3,3,5,13,G4 2,2,2,0,0
14,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.6,21.0,0,0,00001,0,0,0,125.0,180.0,2,1,3,6,14,G4 2,2,2,0,0
15,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.7,21.0,0,0,01,0,0,0,33.0,75.0,2,1,3,7,15,G4 2,2,2,0,0
16,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.8,23.0,0,0,1,0,0,0,53.0,75.0,2,3,3,8,16,G4 2,2,2,0,0
17,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.9,21.0,0,0,001,0,0,0,120.0,180.0,2,1,3,9,17,G4 2,2,2,0,0
18,2020-08-09 14:29:30,2020-08-09 14:36:31,07:01,67.36(-0.48),NaN,--,4.0,PROFICIENCY,G4 2.6,10.0,0,0,01,0,0,0,138.0,180.0,1,0,4,6,14,G4 2,2,2,0,0
19,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.7,10.0,0,0,01,0,0,0,27.0,75.0,1,0,4,7,15,G4 2,2,2,0,0
20,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.9,12.0,0,0,1,0,0,0,126.0,180.0,1,2,4,9,17,G4 2,2,2,0,0
21,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 2.10,23.0,0,0,1,0,0,0,37.0,120.0,2,3,4,10,18,G4 2,2,2,0,0
22,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.1,23.0,0,0,1,0,0,0,5.0,15.0,2,3,4,1,19,G4 3,3,3,0,0
23,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.2,23.0,0,0,1,0,0,0,7.0,30.0,2,3,4,2,20,G4 3,3,3,0,0
24,2020-08-09 14:36:51,2020-08-09 14:44:39,07:48,68.14(0.78),NaN,--,4.0,LEARNING,G4 2.6,1.0,0,0,0,0,1,1,NaN,NaN,0,1,5,6,14,G4 2,2,2,0,0
25,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,00,0,1,1,NaN,NaN,0,1,5,6,14,G4 2,2,2,0,0
26,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,001,0,1,1,NaN,NaN,0,1,5,6,14,G4 2,2,2,0,0
27,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,1,1,1,2,NaN,NaN,0,1,5,6,14,G4 2,2,2,0,0
28,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,1,2,1,3,NaN,NaN,0,1,5,6,14,G4 2,2,2,0,0
29,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,1,3,1,4,NaN,NaN,0,1,5,6,14,G4 2,2,2,0,0
30,2020-08-10 11:28:21,2020-08-10 11:34:29,06:08,68.14(0.00),NaN,--,4.0,LEARNING,G4 2.7,1.0,0,0,1,1,0,1,NaN,NaN,0,1,6,7,15,G4 2,2,2,0,0
31,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.7,1.0,0,0,1,2,0,2,NaN,NaN,0,1,6,7,15,G4 2,2,2,0,0
32,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.7,1.0,0,0,1,3,0,3,NaN,NaN,0,1,6,7,15,G4 2,2,2,0,0
33,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.7,1.0,0,0,1,4,0,4,NaN,NaN,0,1,6,7,15,G4 2,2,2,0,0
34,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.7,1.0,0,0,1,5,0,5,NaN,NaN,0,1,6,7,15,G4 2,2,2,0,0
35,2020-08-10 11:35:32,2020-08-10 11:43:25,07:53,68.14(0.00),NaN,--,4.0,PROFICIENCY,G4 3.3,23.0,0,0,1,0,0,0,473.0,45.0,2,3,7,3,21,G4 3,3,3,1,0
36,2020-08-11 13:59:20,2020-08-11 14:07:01,07:41,69.11(0.97),NaN,--,4.0,PROFICIENCY,G4 3.4,21.0,0,0,01,0,0,0,15.0,60.0,2,1,8,4,22,G4 3,3,3,0,0
37,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.5,23.0,0,0,1,0,0,0,22.0,60.0,2,3,8,5,23,G4 3,3,3,0,0
38,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.6,21.0,0,0,00000000000001,0,0,0,43.0,90.0,2,1,8,6,24,G4 3,3,3,0,0
39,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.7,23.0,0,0,1,0,0,0,52.0,105.0,2,3,8,7,25,G4 3,3,3,0,0
40,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.8,23.0,0,0,1,0,0,0,53.0,210.0,2,3,8,8,26,G4 3,3,3,0,0
41,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.9,23.0,0,0,1,0,0,0,12.0,120.0,2,3,8,9,27,G4 3,3,3,0,0
42,2020-08-11 14:07:12,2020-08-11 14:09:36,02:24,69.33(0.21),NaN,--,4.0,PROFICIENCY,G4 3.4,12.0,0,0,1,0,0,0,18.0,60.0,1,2,9,4,22,G4 3,3,3,0,0
43,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.6,12.0,0,0,1,0,0,0,21.0,90.0,1,2,9,6,24,G4 3,3,3,0,0
44,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.10,23.0,0,0,1,0,0,0,16.0,120.0,2,3,9,10,28,G4 3,3,3,0,0
45,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.11,21.0,0,0,001,0,0,0,17.0,45.0,2,1,9,11,29,G4 3,3,3,0,0
46,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.12,23.0,0,0,1,0,0,0,42.0,45.0,2,3,9,12,30,G4 3,3,3,1,0
47,2020-08-11 14:09:45,2020-08-11 14:11:30,01:45,69.77(0.45),NaN,--,4.0,PROFICIENCY,G4 3.11,12.0,0,0,1,0,0,0,15.0,45.0,1,2,10,11,29,G4 3,3,3,0,0
48,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.13,23.0,0,0,1,0,0,0,23.0,120.0,2,3,10,13,31,G4 3,3,3,0,0
49,NaT,NaT,NaN,NaN,NaN,NaN,4.0,PROFICIENCY,G4 3.14,23.0,0,0,1,0,0,0,40.0,150.0,2,3,10,14,32,G4 3,3,3,0,0

In [18]:
# Define the score mapping for each pair of outcome characters
# score_mapping = {
#     "11": 1,
#     "10": 0,
#     "12": 0,
#     "21": 0,
#     "20": -1,
#     "22": 0,
#     "00": -1,
#     "01": 0,
#     "02": 0
# }

# def compute_streak(outcome_str):
#     # Ensure we have a valid string with at least two characters to form one pair.
#     if not isinstance(outcome_str, str) or len(outcome_str) < 2:
#         return 0

#     total_score = 0
#     # Generate overlapping pairs
#     for i in range(len(outcome_str) - 1):
#         pair = outcome_str[i:i+2]
#         total_score += score_mapping.get(pair, 0)  # default to 0 if pair not in mapping
    
#     # The denominator is the maximum of 4 or the number of pairs.
#     num_pairs = len(outcome_str) - 1
#     denominator = num_pairs if num_pairs >= 4 else 4
#     return total_score / denominator

# # Apply the streak computation only for LEARNING sessions.
# mask = df['session'] == "LEARNING"
# df.loc[mask, 'L_streak_index'] = df.loc[mask, 'outcome'].apply(compute_streak).round(2)

### for all Practice sessions, make it response level

In [19]:
# Forward-fill 'start_time' within each group to propagate non-NaT values
df['session'] = df.groupby('group')['session'].ffill()

In [20]:
import numpy as np

# Function to generate all prefixes of a string
def generate_prefixes(outcome):
    return [outcome[:i] for i in range(1, len(outcome) + 1)]

# Keep a copy of the original 'outcome' to identify full outcome rows later
df['Original_Outcome'] = df['outcome']

# Only generate prefixes for PROFICIENCY and AFFICIENCY sessions; leave LEARNING unchanged
df['Outcome_Prefixes'] = df.apply(
    lambda row: generate_prefixes(row['outcome']) if row['session'] in ['PROFICIENCY', 'AFFICIENCY'] else [row['outcome']],
    axis=1
)

# Explode the 'Outcome_Prefixes' to create separate rows
df_expanded = df.explode('Outcome_Prefixes').reset_index(drop=True)

# Identify prefix rows (i.e. rows where the expanded outcome is different from the original)
df_expanded['Is_Prefix'] = df_expanded['Outcome_Prefixes'] != df_expanded['Original_Outcome']

# List of columns to set to NaN for prefix rows
columns_to_nan = [
    'start_time',
    'end_time',
    'Duration (min:sec)',
    'grade',
    'Score',
    'At LC',
    'Points'
]

# Set specified columns to NaN for prefix rows only when session is PROFICIENCY or AFFICIENCY
mask_prefix = df_expanded['Is_Prefix'] & df_expanded['session'].isin(['PROFICIENCY', 'AFFICIENCY'])
df_expanded.loc[mask_prefix, columns_to_nan] = np.nan

# Set 'is_quit_wrong' and 'is_quit_correct' to 0 for these prefix rows
df_expanded.loc[mask_prefix, 'is_quit_wrong'] = 0
df_expanded.loc[mask_prefix, 'is_quit_correct'] = 0

# # Set 'first_answer_time' to 0 in the original row preceding prefix rows (only for PROFICIENCY/AFFICIENCY)
# mask_shifted = df_expanded['Is_Prefix'].shift(1, fill_value=False) & df_expanded['session'].isin(['PROFICIENCY', 'AFFICIENCY'])
# df_expanded.loc[mask_shifted, 'first_answer_time'] = 0

# Replace 'outcome' with the exploded Outcome_Prefixes and drop helper columns
df = df_expanded.drop(columns=['outcome', 'Original_Outcome', 'Is_Prefix']).rename(columns={'Outcome_Prefixes': 'outcome'})

# Reset the index
df = df.reset_index(drop=True)

In [21]:
# Identify rows where 'start_time' is not null and 'Session' is not 'LEARNING'
mask = df['start_time'].notnull() & (df['session'] != 'LEARNING')

# Iterate over each row where 'start_time' is not null and 'Session' is not 'LEARNING'
for idx in df[mask].index:
    outcome = df.at[idx, 'outcome']
    n = len(outcome)
    
    # Skip rows where n < 2 (i.e., n == 1)
    if n < 2:
        #print(f"Skipping row at index {idx}: n = {n} is less than 2.")
        continue  # Do not perform any operations on this row
    
    # Get the integer location of the current index
    pos = df.index.get_loc(idx)
    
    # Calculate the target position for the single previous (n-1)th row
    target_pos = pos - (n - 1)
    
    # Ensure the target position is within bounds
    if target_pos < 0:
        print(f"Skipping row at index {idx}: target position {target_pos} is out of bounds.")
        continue  # Skip if target position is invalid
    
    # Get the target row index
    target_idx = df.index[target_pos]
    
    # Copy the values to the target row
    for col in columns_to_nan:
        df.at[target_idx, col] = df.at[idx, col]
    
    # Set the specified columns in the current row to NaN
    df.loc[idx, columns_to_nan] = np.nan

    # Reset the DataFrame index to default integer index
df.reset_index(drop=True, inplace=True)

In [22]:
df=df.drop(columns=['group'])

In [23]:
# Create a boolean series where 'start_time' is not null
start_time_not_null = df['start_time'].notnull()

# Use the cumsum of this boolean series to create groups
groups = start_time_not_null.cumsum()

# Create a 'Group' column based on the cumulative count of non-null 'start_time'
df['group'] = groups

In [24]:
df['grade'] = df['grade'].ffill()

* weekdays
* school_year
* time_of_day

In [25]:
# Add a 'Weekday/Weekend' column with weekend as 0 and weekdays as 1
df['weekdays'] = df['start_time'].dt.dayofweek.apply(
    lambda x: 0 if pd.notnull(x) and x >= 5 else (1 if pd.notnull(x) else None)
)

# Fill 'Weekday/Weekend' where 'start_time' is null with the previous valid value
df['weekdays'] = df['weekdays'].where(df['start_time'].notnull()).ffill()

In [26]:
summer_months = [6, 7, 8]  # June, July, August
# Apply the condition to create 'school year' column
df['school_year'] = df['start_time'].dt.month.apply(lambda x: 0 if x in summer_months else 1)

df['school_year'] = df['school_year'].where(df['start_time'].notnull()).ffill()

In [27]:
# Define the time of day categories based on the hour
def categorize_time_of_day(start_time):
    if start_time.hour < 12:
        return 1  # Morning
    elif start_time.hour < 18:
        return 2  # Afternoon
    else:
        return 3  # Evening

# Create a 'Time of Day' column using the categorize function
df['time_of_day'] = df['start_time'].apply(categorize_time_of_day)
df['time_of_day'] = df['time_of_day'].where(df['start_time'].notnull()).ffill()

* first_ans_time
* skill_specified_time

## how to set it for learning session?

In [28]:
df.rename(columns={
    'first_answer_time': 'first_ans_time',
    'skill_specified_time': 'skill_specified_time'
}, inplace=True)

############## Convert 'first_answer_time' and 'skill_specified_time' to numeric
df['first_ans_time'] = pd.to_numeric(df['first_ans_time'], errors='raise')
df['skill_specified_time'] = pd.to_numeric(df['skill_specified_time'], errors='raise')

# Calculate time_ratio as the ratio of first_answer_time to skill_specified_time only if both of these values are not null.
df['ans_time_ratio'] = df.apply(
    lambda row: row['first_ans_time'] / row['skill_specified_time'] 
    if pd.notnull(row['first_ans_time']) and pd.notnull(row['skill_specified_time']) 
    else None,
    axis=1 #specifies that the function is applied row-wise.
)

#df['first_ans_time'] = df['first_ans_time'].fillna(0)

In [29]:
df[df['session']=="LEARNING"].head()

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_ans_time,skill_specified_time,level_begin,level_end,skill_seq,skill_id,skill_chapter,chapter,skill_chapter_id,is_quit_correct,is_quit_wrong,outcome,group,weekdays,school_year,time_of_day,ans_time_ratio
33,2020-08-09 14:36:51,2020-08-09 14:44:39,07:48,68.14(0.78),NaN,--,4.0,LEARNING,G4 2.6,1.0,0,0,0,1,1,NaN,NaN,0,1,6,14,G4 2,2,2,0,0,0,5,0.0,0.0,2.0,NaN
34,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,0,1,1,NaN,NaN,0,1,6,14,G4 2,2,2,0,0,00,5,0.0,0.0,2.0,NaN
35,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,0,1,1,NaN,NaN,0,1,6,14,G4 2,2,2,0,0,001,5,0.0,0.0,2.0,NaN
36,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,1,1,2,NaN,NaN,0,1,6,14,G4 2,2,2,0,0,1,5,0.0,0.0,2.0,NaN
37,NaT,NaT,NaN,NaN,NaN,NaN,4.0,LEARNING,G4 2.6,1.0,0,0,2,1,3,NaN,NaN,0,1,6,14,G4 2,2,2,0,0,1,5,0.0,0.0,2.0,NaN

* duration

In [30]:
import pandas as pd
import re

def convert_to_seconds(duration):
    # Split the duration into parts
    parts = duration.split(':')
    
    if len(parts) == 3:
        # Handle HH:MM:SS format
        hours = int(parts[0])
        minutes = int(parts[1])
        seconds = int(parts[2])
        return hours * 3600 + minutes * 60 + seconds
    
    elif len(parts) == 2:
        # Handle MM:SS format
        minutes = int(parts[0])
        seconds = int(parts[1])
        return minutes * 60 + seconds
    
    return 0  # Return 0 for unexpected formats


# Ensure 'Duration (min:sec)' is treated as a string and then apply the function
df['Duration (min:sec)'] = df['Duration (min:sec)'].astype(str)
df['duration'] = df['Duration (min:sec)'].apply(lambda x: convert_to_seconds(x) if pd.notna(x) else 0)

In [31]:
# one handy shortcut
g = df.groupby("group")

# mask for groups whose FIRST row is a LEARNING session
learning = g["session"].transform("first").eq("LEARNING")

# first_answer_time = (first duration in the group)  (group size)
df.loc[learning, "first_ans_time"] = (
    g["duration"].transform("first") / g["session"].transform("size")
)

## 1) build a mapping: skill  first non-null skill_specified_time
first_specified = (
    df[df["skill_specified_time"].notna()]
      .groupby("skill")["skill_specified_time"]
      .first()
)

# 2) apply to your learning mask
df.loc[learning, "skill_specified_time"] = df.loc[learning, "skill"].map(first_specified)

# 3) recompute your ratio
df.loc[learning, "ans_time_ratio"] = (
    df.loc[learning, "first_ans_time"] /
    df.loc[learning, "skill_specified_time"]
)

In [32]:
# Drop duplicates based on group and skill_id, juest for calculaiting mean_break
df_unique = df.drop_duplicates(subset=['group', 'skill'])

# Group by 'group' and sum the first_ans_time for unique skills only
group_sums_first_answer_time = df_unique.groupby('group')['first_ans_time'].sum()


group_sums_duration_seconds = df.groupby(groups)['duration'].sum()

# Calculate the number of null rows in each group
null_counts_per_group = df[df['start_time'].isnull()].groupby(groups).size()

# Calculate the final result for each group by subtracting the sum of 'first_answer_time' from the sum of 'Duration (seconds)'
final_result = group_sums_duration_seconds - group_sums_first_answer_time

# Calculate the mean break for each group
mean_break = final_result / null_counts_per_group #no mean break if there is no null record

* cum_time_session

In [33]:
# Initialize 'mean_break' and 'cum_time_session' columns
df['mean_break'] = pd.NA
df['cum_time_session'] = pd.NA

# Map mean break values to rows where 'start_time' is not null
df.loc[start_time_not_null, 'mean_break'] = df.loc[start_time_not_null].index.map(groups.map(mean_break))


for group in df['start_time'].notnull().groupby(groups).groups.keys():
    # Filter DataFrame by the current group
    group_df = df[groups == group]
    
    # If there is only one row in this group, simply use 'Duration (min:sec)' as 'cum_time_session'
    if len(group_df) == 1:
        single_index = group_df.index[0]
        df.at[single_index, 'cum_time_session'] = (
            df.at[single_index, 'end_time'] - df.at[single_index, 'start_time']
        ).total_seconds()
    else:
        # Get the mean break for the group
        group_mean_break = mean_break.get(group, pd.NA)

        # Initialize variables
        cumulative_time = 0

        for i, row in group_df.iterrows():
            if pd.notnull(df.at[i, 'start_time']):
                # For rows with not-null 'start_time', use 'first_answer_time' as 'cum_time_session'
                cumulative_time = df.at[i, 'first_ans_time']
                df.at[i, 'cum_time_session'] = cumulative_time
            else:
                # Get the previous row's 'cum_time_session' value
                if i > 0:
                    previous_cumulative_time = df.at[i - 1, 'cum_time_session']
                else:
                    previous_cumulative_time = 0  # Set to 0 if it's the first row

                if df.at[i, 'skill'] == df.at[i - 1, 'skill']:
                # Accumulate time as sum of the previous cumulative time, the current 'first_answer_time', and the group mean break
                    cumulative_time = (
                        previous_cumulative_time
                        + group_mean_break
                    )
                else: 
                    cumulative_time = (
                        previous_cumulative_time
                        + df.at[i, 'first_ans_time']
                        + group_mean_break
                    )

                df.at[i, 'cum_time_session'] = cumulative_time


# #  Set "cum_time_session" equal to "Duration (seconds)" for "LEARNING" sessions
# df['cum_time_session'] = df.apply(
#     lambda row: row['duration'] if isinstance(row['session'], str) and 'LEARNING' in row['session'] else row['cum_time_session'], 
#     axis=1
# )

df['cum_time_session'] = df['cum_time_session'].round(2)

* cum_time_day

In [34]:
import pandas as pd

# Initialize 'cum_time_day' column
df['cum_time_day'] = pd.NA

# Create a new column with the date part only, for identifying the start of the day
df['Date'] = df['start_time'].dt.date

# Get the first start_time of each day
first_start_times = df.groupby('Date')['start_time'].transform('min')

# Calculate 'cum_time_day' for the very first start_time of each day
df.loc[df['start_time'] == first_start_times, 'cum_time_day'] = df.loc[df['start_time'] == first_start_times, 'cum_time_session']

# # Step 2: Compute "cum_time_day" for rows where "Session" includes "LEARNING" and 'start_time' is valid
# df.loc[df['start_time'].notnull() & df['session'].str.contains('LEARNING', na=False), 'cum_time_day'] = df.apply(
#     lambda row: (row['start_time'] - first_start_times[row.name]).total_seconds() + row['cum_time_session'],
#     axis=1
# )

# For other start_times within the same day, compute the cumulative time
df['cum_time_day'] = df.apply(
    lambda row: (row['start_time'] - first_start_times[row.name]).total_seconds() + row['cum_time_session']
    if pd.notnull(row['start_time']) and pd.notnull(row['cum_time_session'])
    else pd.NA, 
    axis=1
)

# Handle rows with null 'start_time' within each group
for group in df['start_time'].notnull().groupby(groups).groups.keys():
    group_df = df[groups == group]
    group_mean_break = df.loc[group_df.index[0], 'mean_break']  # Use the mean break for the group
    
    # Initialize variables for accumulating time
    previous_cumulative_time = 0
    
    for i, row in group_df.iterrows():
        if pd.notnull(df.at[i, 'start_time']):
            # For rows with not-null 'start_time', use 'first_answer_time' as 'cum_time_session'
            previous_cumulative_time = df.at[i, 'cum_time_day']
        else:
            if df.at[i, 'skill'] == df.at[i - 1, 'skill']:
            # For rows with null 'start_time', compute the cumulative time
                df.at[i, 'cum_time_day'] = previous_cumulative_time + group_mean_break 
                previous_cumulative_time = df.at[i, 'cum_time_day']
            else: 
                # For rows with null 'start_time', compute the cumulative time
                df.at[i, 'cum_time_day'] = previous_cumulative_time + group_mean_break + df.at[i, 'first_ans_time']
                previous_cumulative_time = df.at[i, 'cum_time_day']

* break_time_bw_sessions

In [35]:
# Initialize 'break_time_bw_sessions' column
df['break_time_bw_sessions'] = pd.NA

# Initialize previous end_time
previous_end_time = pd.NaT

# Compute 'break_time_bw_sessions' for each group
for group in df['group'].unique():
    group_df = df[df['group'] == group]
    
    # Get the date of the first row in the current group
    first_row_date = group_df.iloc[0]['Date']
    
    # Check if this is the first session overall or the first session of a new day
    if pd.isna(previous_end_time) or (not pd.isna(previous_end_time) and first_row_date != previous_end_time.date()):
        # For the first session overall or if it's the first row of the day, set break time to 0
        df.loc[df['group'] == group, 'break_time_bw_sessions'] = 0
    else:
        # Compute break time as the difference between the current group's start time and the previous end time
        df.loc[df['group'] == group, 'break_time_bw_sessions'] = (
            group_df['start_time'] - previous_end_time
        ).dt.total_seconds()
    
    # Update previous_end_time with the latest end_time in the current group
    previous_end_time = group_df['end_time'].dropna().max()

# Forward fill 'break_time_bw_sessions' within each group
df['break_time_bw_sessions'] = df.groupby('group')['break_time_bw_sessions'].ffill()

### Check negative time_bw_sessions

In [36]:
# Step 1: Check if there are any negative values
has_negative = (df['break_time_bw_sessions'] < 0).any()

# Filter and print rows with negative break times
negative_rows = df[df['break_time_bw_sessions'] < 0]
negative_rows[:10]

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_ans_time,skill_specified_time,level_begin,level_end,skill_seq,skill_id,skill_chapter,chapter,skill_chapter_id,is_quit_correct,is_quit_wrong,outcome,group,weekdays,school_year,time_of_day,ans_time_ratio,duration,mean_break,cum_time_session,cum_time_day,Date,break_time_bw_sessions
12207,2021-05-16 17:43:50,2021-05-16 17:44:37,00:47,0.00(0.00),NaN,--,8.0,PROFICIENCY,G8 8.5,32.0,0,0,0,0,0,47.0,120.0,3,2,5,525,G8 8,8,54,0,1,0,2326,0.0,1.0,2.0,0.391667,47,NaN,47.0,8470.0,2021-05-16,-132.0
12217,2021-05-16 17:54:21,2021-05-16 17:54:27,00:06,91.59(0.00),NaN,44,8.0,LEARNING,G8 8.5,33.0,0,0,0,0,1,6.0,120.0,3,3,5,525,G8 8,8,54,0,0,2,2334,0.0,1.0,2.0,0.050000,6,NaN,6.0,9060.0,2021-05-16,-20.0
12220,2021-05-16 17:57:21,2021-05-16 17:59:21,02:00,92.04(0.39),NaN,45.5,8.0,AFFICIENCY,G8 8.5,44.0,0,0,0,0,0,21.0,120.0,4,4,5,525,G8 8,8,54,0,0,1,2337,0.0,1.0,2.0,0.175000,120,1.0,21.0,9255.0,2021-05-16,-6.0
12221,NaT,NaT,nan,NaN,NaN,NaN,8.0,AFFICIENCY,G8 13.6,44.0,0,0,0,0,0,16.0,60.0,4,4,6,593,G8 13,13,59,0,0,1,2337,0.0,1.0,2.0,0.266667,0,<NA>,38.0,9272.0,NaT,-6.0
12222,NaT,NaT,nan,NaN,NaN,NaN,8.0,AFFICIENCY,G8 6.8,44.0,0,0,0,0,0,12.0,60.0,4,4,8,506,G8 6,6,52,0,0,1,2337,0.0,1.0,2.0,0.200000,0,<NA>,51.0,9285.0,NaT,-6.0
12223,NaT,NaT,nan,NaN,NaN,NaN,8.0,AFFICIENCY,G8 2.9,44.0,0,0,0,0,0,26.0,240.0,4,4,9,465,G8 2,2,48,0,0,1,2337,0.0,1.0,2.0,0.108333,0,<NA>,78.0,9312.0,NaT,-6.0
12224,NaT,NaT,nan,NaN,NaN,NaN,8.0,AFFICIENCY,G8 2.6,44.0,0,0,0,0,0,14.0,30.0,4,4,6,462,G8 2,2,48,0,0,1,2337,0.0,1.0,2.0,0.466667,0,<NA>,93.0,9327.0,NaT,-6.0
12225,NaT,NaT,nan,NaN,NaN,NaN,8.0,AFFICIENCY,G8 11.9,44.0,0,0,0,0,0,26.0,120.0,4,4,9,574,G8 11,11,57,0,0,1,2337,0.0,1.0,2.0,0.216667,0,<NA>,120.0,9354.0,NaT,-6.0
12230,2021-05-16 18:01:06,2021-05-16 18:01:26,00:20,92.01(0.16),NaN,45.8,8.0,AFFICIENCY,G8 8.5,44.0,0,0,0,0,0,20.0,120.0,4,4,5,525,G8 8,8,54,1,0,1,2341,0.0,1.0,3.0,0.166667,20,NaN,20.0,9479.0,2021-05-16,-5.0
12232,2021-05-16 18:01:56,2021-05-16 18:03:55,01:59,91.97(-0.04),NaN,46.8,8.0,AFFICIENCY,G8 8.5,44.0,0,0,0,0,0,20.0,120.0,4,4,5,525,G8 8,8,54,0,0,1,2343,0.0,1.0,3.0,0.166667,119,2.4,20.0,9529.0,2021-05-16,-3.0

In [37]:

if has_negative:
    print("Negative values found in 'break_time_bw_sessions'. Replacing with 0...")
    
    # Step 2: Replace negative values with 0
    df['break_time_bw_sessions'] = df['break_time_bw_sessions'].clip(lower=0)
else:
    print("No negative values in 'break_time_bw_sessions'.")

Negative values found in 'break_time_bw_sessions'. Replacing with 0...

### by setting it as 0, other time related feaatures make sense as well

### The relationship is: cum_time_session of all sessions so far + break_time_bw_sessions = cum_time_day

* break_ratio

In [38]:
# Create a new column for cumulative break time
df['cum_break_time_bw_sessions'] = np.nan

# Group by date to calculate cumulative break time
df['date'] = df['start_time'].dt.date

for date, group in df.groupby('date'):
    # Find the first non-null start_time
    first_not_null_index = group['start_time'].first_valid_index()
    
    # Set the cumulative break time for the first non-null start_time to 0
    if first_not_null_index is not None:
        df.loc[first_not_null_index, 'cum_break_time_bw_sessions'] = 0

    # Accumulate the break time for the following non-null start_times
    cumulative_time = 0
    for i in group.index:
        if pd.notnull(df.at[i, 'start_time']):
            if i != first_not_null_index:
                cumulative_time += df.at[i, 'break_time_bw_sessions']
            df.at[i, 'cum_break_time_bw_sessions'] = cumulative_time

# Drop the temporary date column if not needed
df.drop(columns=['date'], inplace=True)

df['cum_break_time_bw_sessions'] = pd.to_numeric(df['cum_break_time_bw_sessions'], errors='coerce')
df['cum_time_day'] = pd.to_numeric(df['cum_time_day'], errors='coerce')

# Fill in all null values with the previous number in 'cum_break_time_bw_sessions'
df['cum_break_time_bw_sessions'] = df['cum_break_time_bw_sessions'].ffill()

# Calculate the 'break_ratio' safely using numpy.where to avoid division by zero
df['break_ratio'] = np.where(
    df['cum_time_day'] != 0,
    df['cum_break_time_bw_sessions'] / df['cum_time_day'],
    0  # Assign 0 where 'cum_time_day' is zero
)

* time_since_same_skill

In [39]:
# Forward-fill 'start_time' within each group to propagate non-NaT values
df['start_time'] = df.groupby('group')['start_time'].ffill()

# Compute time difference in minutes
df['time_since_same_skill'] = (
    df.groupby('skill_id')['start_time']
      .diff()
      .dt.total_seconds()
      .div(60)           # Convert seconds to minutes
      .fillna(0)
      .astype(float)     # Keep as float to preserve fractional minutes
)

* num_hints

In [40]:
df['outcome'] = df['outcome'].astype(str)
df['num_hints'] = df['outcome'].apply(lambda x: x.count('2'))

* num_responses

In [41]:
def count_012(s):
    return sum(s.count(digit) for digit in ['0', '1', '2'])

# Create new column 'L_total_responses'
df['num_responses'] = df.apply(
    lambda row: count_012(row['outcome']), 
    axis=1
)

* num_wrong_responses

In [42]:
def count_0(s):
    return sum(s.count(digit) for digit in ['0'])

# Create new column 'L_total_responses' 
df['num_wrong_responses'] = df.apply(
    lambda row: count_0(row['outcome']), 
    axis=1
)

In [43]:
df['curr_resp'] = df['outcome'].str[-1]

* cum_resp_same_skill

In [44]:
# 1) total responses so far (including the current one)
df['cum_resp_same_skill'] = df.groupby('skill').cumcount() + 1

# 2) total wrongs (curr_resp == '0') so far
df['cum_wrong_same_skill'] = (
    df['curr_resp'].eq('0').astype(int)
      .groupby(df['skill'])
      .cumsum()
)

# 3) total hints (curr_resp == '2') so far
df['cum_hints_same_skill'] = (
    df['curr_resp'].eq('2').astype(int)
      .groupby(df['skill'])
      .cumsum()
)

In [45]:
df['first_resp'] = df['outcome'].str[0]

In [46]:
df['curr_resp'] = df['curr_resp'].astype('Int64')

PI_chapter

In [47]:
import pandas as pd
import numpy as np


score_mapping = {
    "11": 1,
    "10": 0,
    "12": 0,
    "21": 0,
    "20": -1,
    "22": 0,
    "00": -1,
    "01": 0,
    "02": 0
}


# Process each group by "skill_chapter" separately.
for skill, group in df.groupby('skill_chapter'):
    #prev_session = None     # holds the session of the previous row within this group
    prev_resp = None        # holds the previous row's P_curr_resp (a single digit)
    prev_idx = None         # holds the previous row's index
    for i, idx in enumerate(group.index):
        row = group.loc[idx]
        cur_session = row['session']
        cur_resp = row['curr_resp']  # a single digit: 0, 1, or 2
        #L_streak_index = row['L_streak_index']
        
        if i == 0:
            df.at[idx, 'PI_chapter'] = 0 #np.nan

        else:
            # In case the previous streak_index is NaN, treat it as 0 for cumulative addition.
            prev_streak = df.at[prev_idx, 'PI_chapter']
            base = prev_streak if not pd.isna(prev_streak) else 0
            
            pair_str = str(prev_resp) + str(cur_resp)
            increment = score_mapping.get(pair_str, 0)
            
            
            # Compute current cumulative score.
            df.at[idx, 'PI_chapter'] = base + increment
        
        # Update previous row information for the next iteration.
        prev_resp = cur_resp
        prev_idx = idx

In [48]:
# f1: The next observation for the same skill
df['deltaPI_chapter_future1'] = df.groupby('skill_chapter_id')['PI_chapter'].shift(-1)-df['PI_chapter']
# f2: The observation after next
df['deltaPI_chapter_past1'] = df['PI_chapter']- df.groupby('skill_chapter_id')['PI_chapter'].shift(1)

PI_skill

In [49]:
import pandas as pd
import numpy as np


# Process each group by "skill_chapter" separately.
for skill, group in df.groupby('skill'):
    #prev_session = None     # holds the session of the previous row within this group
    prev_resp = None        # holds the previous row's P_curr_resp (a single digit)
    prev_idx = None         # holds the previous row's index
    for i, idx in enumerate(group.index):
        row = group.loc[idx]
        cur_session = row['session']
        cur_resp = row['curr_resp']  # a single digit: 0, 1, or 2
        #L_streak_index = row['L_streak_index']
        
        if i == 0:
            df.at[idx, 'PI_skill'] = 0; #np.nan

        else:
            # In case the previous streak_index is NaN, treat it as 0 for cumulative addition.
            prev_streak = df.at[prev_idx, 'PI_skill']
            base = prev_streak if not pd.isna(prev_streak) else 0
            
            pair_str = str(prev_resp) + str(cur_resp)
            increment = score_mapping.get(pair_str, 0)
            
            
            # Compute current cumulative score.
            df.at[idx, 'PI_skill'] = base + increment
        
        # Update previous row information for the next iteration.
        prev_resp = cur_resp
        prev_idx = idx

In [50]:
# f1: The next observation for the same skill
df['deltaPI_skill_future1'] = df.groupby('skill')['PI_skill'].shift(-1)-df['PI_skill']
# f2: The observation after next
df['deltaPI_skill_past1'] = df['PI_skill']- df.groupby('skill')['PI_skill'].shift(1)

In [51]:
# f1: The next observation for the same skill
df['deltaPI_skill_future2'] = df.groupby('skill')['PI_skill'].shift(-2)-df.groupby('skill')['PI_skill'].shift(-1)
# f2: The observation after next
df['deltaPI_skill_past2'] = df.groupby('skill')['PI_skill'].shift(1)- df.groupby('skill')['PI_skill'].shift(2)

In [52]:
df['Date'] = df['Date'].ffill()

In [53]:
import pandas as pd
import numpy as np

# Initialize the new column
df['PI_day'] = np.nan

# Process each group by 'Date' separately
for date, group in df.groupby('Date'):
    prev_resp = None   # holds the previous row's 'curr_resp'
    prev_idx = None    # holds the previous row's index
    
    for i, idx in enumerate(group.index):
        row = group.loc[idx]
        cur_resp = row['curr_resp']  # current response: 0, 1, or 2

        if i == 0:
            df.at[idx, 'PI_day'] = 0# np.nan  # no previous info for the first entry
        else:
            # In case previous PI_day is NaN, treat it as 0 for cumulative addition
            prev_streak = df.at[prev_idx, 'PI_day']
            base = prev_streak if not pd.isna(prev_streak) else 0

            pair_str = str(prev_resp) + str(cur_resp)
            increment = score_mapping.get(pair_str, 0)

            # Compute current cumulative score
            df.at[idx, 'PI_day'] = base + increment

        # Update previous info
        prev_resp = cur_resp
        prev_idx = idx

In [54]:
# f1: The next observation for the same skill
df['deltaPI_day_future1'] = df.groupby('Date')['PI_day'].shift(-1)-df['PI_day']
# f2: The observation after next
df['deltaPI_day_past1'] = df['PI_day']- df.groupby('Date')['PI_day'].shift(1)

In [55]:
df['PI_day']

0        0.0
1        1.0
2        2.0
3        3.0
4        4.0
        ...
27837    4.0
27838    4.0
27839    5.0
27840    6.0
27841    0.0
Name: PI_day, Length: 27842, dtype: float64

In [56]:
df['curr_resp'] = df['curr_resp'].astype(str)

* P_consec_wrong_day

In [57]:
consecutive_count = 0
prev_row = None

for index, row in df.iterrows():
    outcome = row['curr_resp']
    
    if outcome[0] in ('1', '2'):
        # Reset count if the outcome starts with '1' or '2'
        consecutive_count = 0
    else:
        # Count the number of consecutive '0's in the outcome
        current_consecutive_zeros = outcome.count('0')
        
        # If the previous row ended with '0' and it's the same day, add to the consecutive count
        if prev_row is not None and prev_row['curr_resp'][-1] == '0':
            if row['start_time'].date() == prev_row['start_time'].date():
                consecutive_count += current_consecutive_zeros
            else:
                consecutive_count = current_consecutive_zeros
        else:
            consecutive_count = current_consecutive_zeros
    
    # Update the original DataFrame at the corresponding index
    df.at[index, 'consec_wrong_day'] = consecutive_count
    prev_row = row

* P_cum_wrong_sess
* P_cum_wrong_day
* P_cum_hints_day
* P_same_skill_wrong

In [58]:
# Forward-fill 'start_time' within each group to propagate non-NaT values
df['start_time'] = df.groupby('group')['start_time'].ffill()

# Extract date from 'start_time'
df['Date'] = df['start_time'].dt.date

# Function to count the number of wrong answers in a given outcome
def count_wrong_answers(outcome):
    return outcome.count('0')

def count_hints(outcome):
    return outcome.count('2')

# Calculate cumulative wrong answers in a session for each group, applying only to the masked rows
df['cum_wrong_sess'] = df.groupby('group')['curr_resp'].transform(
    lambda group: group.apply(count_wrong_answers).cumsum()
)

# Calculate cumulative wrong answers in a day, considering all groups, only for the masked rows
df['cum_wrong_day'] = df.groupby('Date')['curr_resp'].transform(
    lambda group: group.apply(count_wrong_answers).cumsum()
)

# Calculate cumulative hints in a day, considering all groups, only for the masked rows
df['cum_hints_day'] = df.groupby('Date')['curr_resp'].transform(
    lambda group: group.apply(count_hints).cumsum()
)

# # Calculate cumulative wrong answers for the same skill in a day,
# # grouping by both Date and skill_head (adjust the column names as needed),
# # only for the masked rows
# df['cum_wrong_same_skill'] = df.groupby(['Date', 'skill'])['curr_resp'].transform(
#     lambda group: group.apply(count_wrong_answers).cumsum()
# )

In [59]:
df['cum_same_skill_day'] = df.groupby(['Date', 'skill']).cumcount() + 1

In [60]:

# Create shifted columns to access previous row's data
df['prev_skill_head'] = df['skill'].shift(1)
df['prev_Response'] = df['curr_resp'].shift(1)

# Condition 2: Same 'skill' as previous row
same_skill = df['skill'] == df['prev_skill_head']

# Condition 3: Previous 'Response' is '0'
prev_response_zero = df['prev_Response'] == '0'

# Combine conditions and apply only to rows matching the mask
df['same_skill_wrong'] = ((same_skill) & (prev_response_zero)).astype(int)

# Optional: Drop the temporary shifted columns if no longer needed
df.drop(['prev_skill_head', 'prev_Response'], axis=1, inplace=True)

In [61]:
df.head()

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_ans_time,skill_specified_time,level_begin,level_end,skill_seq,skill_id,skill_chapter,chapter,skill_chapter_id,is_quit_correct,is_quit_wrong,outcome,group,weekdays,school_year,time_of_day,ans_time_ratio,duration,mean_break,cum_time_session,cum_time_day,Date,break_time_bw_sessions,cum_break_time_bw_sessions,break_ratio,time_since_same_skill,num_hints,num_responses,num_wrong_responses,curr_resp,cum_resp_same_skill,cum_wrong_same_skill,cum_hints_same_skill,first_resp,PI_chapter,deltaPI_chapter_future1,deltaPI_chapter_past1,PI_skill,deltaPI_skill_future1,deltaPI_skill_past1,deltaPI_skill_future2,deltaPI_skill_past2,PI_day,deltaPI_day_future1,deltaPI_day_past1,consec_wrong_day,cum_wrong_sess,cum_wrong_day,cum_hints_day,cum_same_skill_day,same_skill_wrong
0,2020-08-09 14:09:53,2020-08-09 14:11:24,01:31,67.71(0.80),NaN,--,4.0,PROFICIENCY,G4 1.1,23.0,0,0,0,0,0,11.0,30.0,2,3,1,0,G4 1,1,1,0,0,1,1,0.0,0.0,2.0,0.366667,91,1.4,11.0,11.0,2020-08-09,0,0.0,0.0,0.0,0,1,0,1,1,0,0,1,0.0,1.0,NaN,0.0,1.0,NaN,1.0,NaN,0.0,1.0,NaN,0.0,0,0,0,1,0
1,2020-08-09 14:09:53,NaT,nan,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.2,23.0,0,0,0,0,0,30.0,60.0,2,3,2,1,G4 1,1,1,0,0,1,1,0.0,0.0,2.0,0.500000,0,<NA>,42.4,42.4,2020-08-09,0,0.0,0.0,0.0,0,1,0,1,1,0,0,1,1.0,1.0,1.0,0.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,0.0,0,0,0,1,0
2,2020-08-09 14:09:53,NaT,nan,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.3,23.0,0,0,0,0,0,6.0,30.0,2,3,3,2,G4 1,1,1,0,0,1,1,0.0,0.0,2.0,0.200000,0,<NA>,49.8,49.8,2020-08-09,0,0.0,0.0,0.0,0,1,0,1,1,0,0,1,2.0,1.0,1.0,0.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0,0.0,0,0,0,1,0
3,2020-08-09 14:09:53,NaT,nan,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.4,23.0,0,0,0,0,0,16.0,30.0,2,3,4,3,G4 1,1,1,0,0,1,1,0.0,0.0,2.0,0.533333,0,<NA>,67.2,67.2,2020-08-09,0,0.0,0.0,0.0,0,1,0,1,1,0,0,1,3.0,1.0,1.0,0.0,1.0,NaN,1.0,NaN,3.0,1.0,1.0,0.0,0,0,0,1,0
4,2020-08-09 14:09:53,NaT,nan,NaN,NaN,NaN,4.0,PROFICIENCY,G4 1.5,23.0,0,0,0,0,0,13.0,30.0,2,3,5,4,G4 1,1,1,0,0,1,1,0.0,0.0,2.0,0.433333,0,<NA>,81.6,81.6,2020-08-09,0,0.0,0.0,0.0,0,1,0,1,1,0,0,1,4.0,1.0,1.0,0.0,0.0,NaN,0.0,NaN,4.0,1.0,1.0,0.0,0,0,0,1,0

In [62]:
# Create a boolean series where 'start_time' is not null
start_time_not_null = df['end_time'].notnull()

# Use the cumsum of this boolean series to create groups
groups = start_time_not_null.cumsum()

# Create a 'Group' column based on the cumulative count of non-null 'start_time'
df['group'] = groups

# Keep only the first row's 'start_time' value in each group
df['start_time'] = df.groupby('group')['start_time'].transform(lambda x: x.where(x.index == x.index[0]))

In [63]:
df['session_id'] = df['session'].map({
    'LEARNING':   0,
    'PROFICIENCY':1,
    'AFFICIENCY': 2
})

In [64]:
df['PI_score'] = (
    df['Score']
      .astype(str)
      .str.extract(r'([0-9]+\.?[0-9]*)\s*\(')[0]  # capture digits (with optional decimal) before "("
      .astype(float)
)

# Extract the value inside parentheses and convert to float
df['PI_score_change'] = df['Score'].str.extract(r'\(([-+]?[\d.]+)\)')[0].astype(float)

In [65]:
df[df['PI_score']==0.00].head()

,start_time,end_time,Duration (min:sec),Score,At LC,Points,grade,session,skill,skill_level_change,L_num_completed_demo,L_num_correct_assisted,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_ans_time,skill_specified_time,level_begin,level_end,skill_seq,skill_id,skill_chapter,chapter,skill_chapter_id,is_quit_correct,is_quit_wrong,outcome,group,weekdays,school_year,time_of_day,ans_time_ratio,duration,mean_break,cum_time_session,cum_time_day,Date,break_time_bw_sessions,cum_break_time_bw_sessions,break_ratio,time_since_same_skill,num_hints,num_responses,num_wrong_responses,curr_resp,cum_resp_same_skill,cum_wrong_same_skill,cum_hints_same_skill,first_resp,PI_chapter,deltaPI_chapter_future1,deltaPI_chapter_past1,PI_skill,deltaPI_skill_future1,deltaPI_skill_past1,deltaPI_skill_future2,deltaPI_skill_past2,PI_day,deltaPI_day_future1,deltaPI_day_past1,consec_wrong_day,cum_wrong_sess,cum_wrong_day,cum_hints_day,cum_same_skill_day,same_skill_wrong,session_id,PI_score,PI_score_change
2181,2020-10-02 08:16:16,2020-10-02 08:19:26,03:10,0.00(0.00),NaN,104.65,6.0,LEARNING,G6 1.1,1.0,0,0,1,0,1,15.833333,75.0,0,1,1,196,G6 1,1,22,0,0,1,362,1.0,1.0,1.0,0.211111,190,15.833333,15.833333,61.833333,2020-10-02,5.0,5.0,0.080863,0.0,0,1,0,1,1,0,0,1,0.0,1.0,NaN,0.0,1.0,NaN,1.0,NaN,5.0,1.0,1.0,0.0,0,0,0,1,0,0,0.0,0.0
3994,2020-11-02 08:04:35,2020-11-02 08:05:30,00:55,0.00(0.00),NaN,37.2,7.0,LEARNING,G7 1.1,1.0,0,0,1,0,1,11.000000,45.0,0,1,1,284,G7 1,1,33,0,0,1,627,1.0,1.0,1.0,0.244444,55,11.0,11.0,3242.000000,2020-11-02,12.0,2589.0,0.798581,0.0,0,1,0,1,1,0,0,1,0.0,1.0,NaN,0.0,1.0,NaN,1.0,NaN,47.0,1.0,1.0,0.0,0,1,0,1,0,0,0.0,0.0
3999,2020-11-02 08:05:31,2020-11-02 08:06:37,01:06,0.00(0.00),NaN,43.4,7.0,LEARNING,G7 1.2,1.0,1,0,1,0,1,6.600000,30.0,0,1,2,285,G7 1,1,33,0,0,1,628,1.0,1.0,1.0,0.220000,66,6.6,6.6,3293.600000,2020-11-02,1.0,2590.0,0.786374,0.0,0,1,0,1,1,0,0,1,5.0,1.0,1.0,0.0,1.0,NaN,1.0,NaN,52.0,1.0,1.0,0.0,0,1,0,1,0,0,0.0,0.0
8400,2021-01-25 17:24:46,2021-01-25 17:25:46,01:00,0.00(0.00),NaN,12.3,8.0,LEARNING,G8 1.1,1.0,0,0,1,0,1,12.000000,30.0,0,1,1,448,G8 1,1,47,0,0,1,1560,1.0,1.0,2.0,0.400000,60,12.0,12.0,56.000000,2021-01-25,7.0,7.0,0.125000,0.0,0,1,0,1,1,0,0,1,0.0,1.0,NaN,0.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,0.0,0,0,0,1,0,0,0.0,0.0
8405,2021-01-25 17:25:58,2021-01-25 17:33:22,07:24,0.00(0.00),NaN,19.9,8.0,LEARNING,G8 1.2,1.0,0,0,0,1,1,16.444444,30.0,0,1,2,449,G8 1,1,47,0,0,0,1561,1.0,1.0,2.0,0.548148,444,16.444444,16.444444,132.444444,2021-01-25,12.0,19.0,0.143456,0.0,0,1,1,0,1,1,0,0,4.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,5.0,0.0,0.0,1.0,1,1,0,1,0,0,0.0,0.0

In [66]:
# f1: The next observation for the same skill
df['deltaPI_score_future1'] = df.groupby('grade')['PI_score_change'].shift(-1)
# f2: The observation after next
df['deltaPI_score_past1'] = df['PI_score_change']

In [67]:
import numpy as np

# Replace the string 'nan' with NaN in the 'Duration (min:sec)' column
df['Duration (min:sec)'] = df['Duration (min:sec)'].replace('nan', np.nan)

In [68]:
# Drop the specified columns
df = df.drop(columns=['Date','group','PI_score_change'])# add 'previous_cumulative_time'

In [69]:
df['PI_score']=df['PI_score'].ffill()
df['deltaPI_score_past1']=df['deltaPI_score_past1'].ffill()
df['deltaPI_score_future1']=df['deltaPI_score_future1'].bfill()

In [70]:
# Create a statistics summary
summary = df.describe()

# Save both the data and the summary to an Excel file
with pd.ExcelWriter('student8/s8_all.xlsx') as writer:
    df.to_excel(writer, sheet_name='Data', index=False)
    summary.to_excel(writer, sheet_name='Statistics Summary')

#print("Data and statistics summary have been saved to 'combined_data_final.xlsx'.")

In [71]:
df.describe()

,start_time,end_time,At LC,grade,skill_level_change,L_num_completed_demo,L_num_correct_assisted,L_num_qs_first_correct,L_num_wrong_start_correct_end,L_total_qs,first_ans_time,skill_specified_time,level_begin,level_end,skill_seq,skill_id,chapter,skill_chapter_id,is_quit_correct,is_quit_wrong,weekdays,school_year,time_of_day,ans_time_ratio,duration,cum_time_day,cum_break_time_bw_sessions,break_ratio,time_since_same_skill,num_hints,num_responses,num_wrong_responses,cum_resp_same_skill,cum_wrong_same_skill,cum_hints_same_skill,PI_chapter,deltaPI_chapter_future1,deltaPI_chapter_past1,PI_skill,deltaPI_skill_future1,deltaPI_skill_past1,deltaPI_skill_future2,deltaPI_skill_past2,PI_day,deltaPI_day_future1,deltaPI_day_past1,consec_wrong_day,cum_wrong_sess,cum_wrong_day,cum_hints_day,cum_same_skill_day,same_skill_wrong,session_id,PI_score,deltaPI_score_future1,deltaPI_score_past1
count,5839,5839,0.0,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27837.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27837.000000,27842.000000,27842.000000,27842.000000,27842.000000,2.784200e+04,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27842.000000,27739.000000,27739.000000,27842.000000,26717.000000,26717.000000,25592.000000,25592.000000,27842.000000,26992.000000,26992.000000,27842.000000,27842.000000,27842.000000,27842.00000,27842.000000,27842.000000,27842.000000,27842.000000,27841.000000,27842.000000
mean,2022-03-07 14:44:08.722897920,2022-03-07 14:49:09.421989888,NaN,7.853890,20.911714,0.206343,0.001221,1.178723,0.477588,1.719704,51.142518,102.259403,1.864952,2.261440,7.211120,529.145212,8.019718,52.574887,0.068063,0.039221,0.687846,0.771389,1.761691,0.518473,63.062352,4163.687397,2716.130594,0.237629,3.161012e+04,0.021371,1.204368,0.373141,20.307449,5.433697,0.488004,102.166762,0.621688,0.621688,8.181740,0.619081,0.619081,0.625938,0.603040,23.129445,0.621703,0.621703,0.265570,0.956361,6.512391,0.41969,5.091840,0.168882,0.816788,62.079120,0.131900,0.160433
min,2020-08-09 14:09:53,2020-08-09 14:11:24,NaN,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,-9.000000,-1.000000,-1.000000,-15.000000,-1.000000,-1.000000,-1.000000,-1.000000,-14.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,-3.540000,-3.540000
25%,2021-01-20 07:41:04.500000,2021-01-20 07:43:29,NaN,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,60.000000,0.000000,1.000000,4.000000,324.000000,4.000000,35.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.180000,0.000000,573.700000,8.000000,0.009106,0.000000e+00,0.000000,1.000000,0.000000,7.000000,1.000000,0.000000,36.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,1.000000,0.000000,0.000000,35.930000,0.000000,0.000000
50%,2022-03-11 20:28:23,2022-03-11 20:28:33,NaN,8.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.173913,90.000000,2.000000,2.000000,6.000000,506.000000,7.000000,52.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.300000,0.000000,1247.000000,88.000000,0.094564,1.433333e+00,0.000000,1.000000,0.000000,14.000000,3.000000,0.000000,79.000000,1.000000,1.000000,6.000000,1.000000,1.000000,1.000000,1.000000,11.000000,1.000000,1.000000,0.000000,0.000000,4.000000,0.00000,2.000000,0.000000,1.000000,73.510000,0.060000,0.100000
75%,2023-03-15 16:10:22,2023-03-15 16:12:26,NaN,9.000000,44.000000,0.000000,0.000000,2.000000,1.000000,3.000000,57.150000,120.000000,4.000000,4.000000,10.000000,731.000000,11.000000,71.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.542803,0.000000,2557.928571,736.000000,0.372722,2.965550e+03,0.000000,1.000000,1.000000,26.000000,7.000000,0.000000,147.000000,1.000000,1.000000,12.000000,1.000000,1.000000,1.000000,1.000000,26.000000,1.000000,1.000000,0.000000,1.000000,8.000000,0.00000,6.000000,0.000000,1.000000,91.110000,0.230000,0.260000
max,2025-03-18 20:42:47,2025-03-18 20:43:37,NaN,12.000000,44.000000,5.000000,2.000000,23.000000,14.000000,31.000000,3335.285714,360.000000,4.000000,4.000000,24.000000,1124.000000,20.000000,103.000000,1.000000,1.000000,1.000000,1.000000,3.000000,47.968889,23347.000000,43278.000000,41212.000000,0.998677,1.932160e+06,6.000000,14.000000,13.000000,170.000000,52.000000,22.000000,449.000000,1.000000,1.000000,58.000000,1.000000,1.000000,1.000000,1.000000,398.000000,1.000000,1.000000,15.000000,19.000000,69.000000,20.00000,76.000000,1.000000,2.000000,98.170000,3.370000,3.370000
std,NaN,NaN,NaN,1.617911,19.441583,0.590977,0.046407,2.056148,1.067839,2.881846,96.701975,62.570501,1.797498,1.556775,4.600685,276.183960,4.863978,25.100777,0.251858,0.194125,0.463381,0.419946,0.720026,1.018911,298.541074,8010.852631,7038.631796,0.294175,1.292782e+05,0.167840,0.633782,0.775010,21.114509,7.280127,1.739330,86.040930,0.581023,0.581023,8.518952,0.586007,0.586007,0.581188,0.592975,39.960710,0.581672,0.581672,0.744516,1.686780,8.808370,1.49247,6.835131,0.374654,0.798116,31.654693,0.316273,0.315816

In [72]:
negative_count = (df['time_since_same_skill'] < 0).sum()
print("Number of negative values in 'time_since_last_skill':", negative_count)

Number of negative values in 'time_since_last_skill': 0

In [73]:
df.isnull().sum()

start_time               22003
end_time                 22003
Duration (min:sec)       22003
Score                    22003
At LC                    27842
                         ...
same_skill_wrong             0
session_id                   0
PI_score                     0
deltaPI_score_future1        1
deltaPI_score_past1          0
Length: 68, dtype: int64

In [74]:
features = df.columns.tolist()   # returns a regular Python list
print(features)

['start_time', 'end_time', 'Duration (min:sec)', 'Score', 'At LC', 'Points', 'grade', 'session', 'skill', 'skill_level_change', 'L_num_completed_demo', 'L_num_correct_assisted', 'L_num_qs_first_correct', 'L_num_wrong_start_correct_end', 'L_total_qs', 'first_ans_time', 'skill_specified_time', 'level_begin', 'level_end', 'skill_seq', 'skill_id', 'skill_chapter', 'chapter', 'skill_chapter_id', 'is_quit_correct', 'is_quit_wrong', 'outcome', 'weekdays', 'school_year', 'time_of_day', 'ans_time_ratio', 'duration', 'mean_break', 'cum_time_session', 'cum_time_day', 'break_time_bw_sessions', 'cum_break_time_bw_sessions', 'break_ratio', 'time_since_same_skill', 'num_hints', 'num_responses', 'num_wrong_responses', 'curr_resp', 'cum_resp_same_skill', 'cum_wrong_same_skill', 'cum_hints_same_skill', 'first_resp', 'PI_chapter', 'deltaPI_chapter_future1', 'deltaPI_chapter_past1', 'PI_skill', 'deltaPI_skill_future1', 'deltaPI_skill_past1', 'deltaPI_skill_future2', 'deltaPI_skill_past2', 'PI_day', 'deltaPI_day_future1', 'deltaPI_day_past1', 'consec_wrong_day', 'cum_wrong_sess', 'cum_wrong_day', 'cum_hints_day', 'cum_same_skill_day', 'same_skill_wrong', 'session_id', 'PI_score', 'deltaPI_score_future1', 'deltaPI_score_past1']

In [75]:
# Define features to keep for each session type
s8_features = [
    'start_time', 'end_time', 'Duration (min:sec)', 'Score', 'Points', 'session', 'skill',
    'first_ans_time','skill_specified_time', 'level_begin', 'level_end', 'outcome',
    'grade','chapter', 'skill_id', 'session_id','is_quit_correct', 'is_quit_wrong', 'weekdays', 'school_year', 'time_of_day', 'ans_time_ratio', 
    'cum_time_session', 'cum_time_day', 'break_time_bw_sessions', 'cum_break_time_bw_sessions', 'break_ratio', 
    'time_since_same_skill', 'num_hints', 'num_responses', 'num_wrong_responses', 'curr_resp', 'cum_resp_same_skill', 
    'cum_wrong_same_skill', 'cum_hints_same_skill', 'first_resp', 'consec_wrong_day', 
    'cum_wrong_sess', 'cum_wrong_day', 'cum_hints_day', 'cum_same_skill_day', 'same_skill_wrong', 
    'PI_skill', 'deltaPI_skill_future1', 'deltaPI_skill_future2','deltaPI_skill_past1', 'deltaPI_skill_past2',
    'PI_day', 'deltaPI_day_future1', 'deltaPI_day_past1',
    'PI_score', 'deltaPI_score_future1', 'deltaPI_score_past1'
]

s8_df=df[s8_features]

# Create statistics summaries for each subset
s8_summary = s8_df.describe()

# Save learning data and summary to an Excel file
with pd.ExcelWriter('student8/s8.xlsx') as writer:
    s8_df.to_excel(writer, sheet_name='Data', index=False)
    s8_summary.to_excel(writer, sheet_name='Statistics Summary')


print("Files saved: 'student8/s8.xlsx''")

Files saved: 'student8/s8.xlsx''

In [76]:
s8_df.isnull().sum()

start_time                    22003
end_time                      22003
Duration (min:sec)            22003
Score                         22003
Points                        22003
session                           0
skill                             0
first_ans_time                    0
skill_specified_time              5
level_begin                       0
level_end                         0
outcome                           0
grade                             0
chapter                           0
skill_id                          0
session_id                        0
is_quit_correct                   0
is_quit_wrong                     0
weekdays                          0
school_year                       0
time_of_day                       0
ans_time_ratio                    5
cum_time_session                  0
cum_time_day                      0
break_time_bw_sessions            0
cum_break_time_bw_sessions        0
break_ratio                       0
time_since_same_skill             0
num_hints                         0
num_responses                     0
num_wrong_responses               0
curr_resp                         0
cum_resp_same_skill               0
cum_wrong_same_skill              0
cum_hints_same_skill              0
first_resp                        0
consec_wrong_day                  0
cum_wrong_sess                    0
cum_wrong_day                     0
cum_hints_day                     0
cum_same_skill_day                0
same_skill_wrong                  0
PI_skill                          0
deltaPI_skill_future1          1125
deltaPI_skill_future2          2250
deltaPI_skill_past1            1125
deltaPI_skill_past2            2250
PI_day                            0
deltaPI_day_future1             850
deltaPI_day_past1               850
PI_score                          0
deltaPI_score_future1             1
deltaPI_score_past1               0
dtype: int64

In [77]:
s8_df.shape

(27842, 53)

In [78]:
print(f"Total features: {len(s8_df.columns)}")
print(s8_df.columns.tolist())

Total features: 53
['start_time', 'end_time', 'Duration (min:sec)', 'Score', 'Points', 'session', 'skill', 'first_ans_time', 'skill_specified_time', 'level_begin', 'level_end', 'outcome', 'grade', 'chapter', 'skill_id', 'session_id', 'is_quit_correct', 'is_quit_wrong', 'weekdays', 'school_year', 'time_of_day', 'ans_time_ratio', 'cum_time_session', 'cum_time_day', 'break_time_bw_sessions', 'cum_break_time_bw_sessions', 'break_ratio', 'time_since_same_skill', 'num_hints', 'num_responses', 'num_wrong_responses', 'curr_resp', 'cum_resp_same_skill', 'cum_wrong_same_skill', 'cum_hints_same_skill', 'first_resp', 'consec_wrong_day', 'cum_wrong_sess', 'cum_wrong_day', 'cum_hints_day', 'cum_same_skill_day', 'same_skill_wrong', 'PI_skill', 'deltaPI_skill_future1', 'deltaPI_skill_future2', 'deltaPI_skill_past1', 'deltaPI_skill_past2', 'PI_day', 'deltaPI_day_future1', 'deltaPI_day_past1', 'PI_score', 'deltaPI_score_future1', 'deltaPI_score_past1']